# Environment variables
.env

# Rust
/target/
**/*.rs.bk
Cargo.lock
backend/.git/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Vite
dist/
.vite/

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store
Thumbs.db 